
<h1>Hello, this is my application for Homework 4</h1>
<h1>This is the welcome page. I am going to use it as a blog. People can post comment on it too!</h1>
<%= link_to "Go to my blog and check it out!", :controller => "posts" %>

